.editBook {
  width: 680px;
  margin: 0 auto;
  text-align: left;
}

.changeButtons {
  width: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  margin: 40px 0 30px;
  cursor: pointer;
}

.editSaveAddButton,
.removeButton {
  width: auto;
  height: 37px;
  line-height: 37px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}

.editSaveAddButton {
  background-color: #017bff;
  margin-right: 30px;
}

.green {
  background-color: #028102 !important;
}

.removeButton {
  background-color: #ff0000;
}

.fieldSection {
  width: 100%;
  margin: 20px 0 0;
}

.fieldSection input,
.fieldSection textarea {
  display: block;
  width: 100%;
  height: 37px;
  border-radius: 5px;
  margin: 10px 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #d1d1d1;
}

.fieldSection textarea {
  height: auto;
  min-height: 100px;
  padding-top: 7px;
}

.fieldSection input:disabled,
.fieldSection textarea:disabled {
  background-color: #f1f1f1;
  color: #777777;
}
